<h1>Startlijsten</h1>
<table class="table display compact" style="width:100%" id="startlijst">
    <thead>
        <tr>
            <th>start</th>
            <th scope="col" class="d-none d-lg-table-cell">eind</th>
            <th>Race (cat)</th>
            <th scope="col" class="d-none d-lg-table-cell">Punten</th>
        </tr>
    </thead>
    <tbody>
      {% for item in site.data.current_races %}
        <tr>
          <td>{{ item.startdate | date: "%d-%m" }}</td>
          <td scope="col" class="d-none d-lg-table-cell">{{ item.enddate | date: "%d-%m" }}</td>
          {% if item.category contains "GT" %}
            <td><a href="{{ site.baseurl }}/startlist/races/GT/">{{ item.race }} ({{ item.category }})</a><!--span class="badge bg-secondary">
              {{ item.sold_riders }}/{{ item.total_riders }}</span--></td>
            </span></td>
          {% else %}
            <td><a href="{{ site.baseurl }}/startlist/races/{{ item.FC_race_id }}.html">{{ item.race }} ({{ item.category }}) <!--span class="badge bg-primary"  style="float:right;">
              {{ item.sold_riders }}/{{ item.total_riders }}</span--></a></td>
          {% endif %}
          <td scope="col" class="d-none d-lg-table-cell">{{ item.points }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>